body {
    background-color: #fafafa;
    margin: 0;
    overflow-x: hidden;
}

.BiscoitoHeader {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CF8C95;
    color: whitesmoke;
    box-shadow: -1px 10px 29px -21px rgba(0, 0, 0, 0.75);
    font-size: 1.6rem;
}