/* Header geral */
.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: #cf8c95;
  color: whitesmoke;
  box-shadow: -1px 10px 29px -21px rgba(0, 0, 0, 0.75);
  font-size: 1.6rem;
}

/* Logo no lado esquerdo */
.HeaderLogo img {
  width: 120px;
  height: auto;
}

/* Navegação no centro */
.HeaderNav {
  display: flex;
  gap: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HeaderNav a {
  color: whitesmoke;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.6rem;

}

.HeaderNav a:hover {
  color: #f7e2e3;
}

/* Ícone de login à direita */
.HeaderLogin {
  font-size: 1.5rem;
}

.HeaderLogin a {
  color: whitesmoke;
}

.HeaderLogin a:hover {
  color: #f7e2e3;
}

/* Estilizando o conteúdo principal */
.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ajusta o main para ocupar o espaço abaixo do header */
  background-color: #fafafa;
}

.Orders {
  margin-bottom: 20px;
  width: 40%;
  padding: 20px;
  background-color: #5a5e61;
  color: whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Orders a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5rem;
}

.Orders span {
  transition: color 0.3s ease;
}

.Orders a:hover span {
  color: #cf8c95;
}

/* Responsividade */
@media (max-width: 768px) {
  .Header {
    flex-direction: column;
    gap: 10px;
  }

  .HeaderNav {
    flex-direction: column;
  }

  .MainContent {
    padding: 10px;
  }

  .Orders {
    width: 90%;
    margin: 10px auto;
  }
}
