/* Header geral */
.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: #cf8c95;
  color: whitesmoke;
  box-shadow: -1px 10px 29px -21px rgba(0, 0, 0, 0.75);
  font-size: 1.6rem;
}

/* Logo no lado esquerdo */
.HeaderLogo img {
  width: 120px;
  height: auto;
}

/* Navegação no centro */
.HeaderNav {
  display: flex;
  gap: 20px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HeaderNav a {
  color: whitesmoke;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.6rem;
}

.HeaderNav a:hover {
  color: #f7e2e3;
}

/* Ícone de login à direita */
.HeaderLogin {
  font-size: 1.5rem;
}

.HeaderLogin a {
  color: whitesmoke;
}

.HeaderLogin a:hover {
  color: #f7e2e3;
}

/* Estilizando o conteúdo principal */
.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
  /* Garantir altura mínima para ocupar espaço */
  min-height: 100vh;
  /* Permitir scroll se o conteúdo exceder a altura da tela */
  overflow-y: auto;
}

.OrdersList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 33%;
}

.MainContent h1 {
  color: #cf8c95;
  font-size: 2rem;
  /* font-weight: bold; */
  font-family: "Poppins", sans-serif;
  font-weight: 600; /* Semibold */
}

.Orders {
  width: 25%;
  text-align: center;
  height: 70%;
  padding: 20px;
  background-color: #cf8c95;
  color: whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Orders a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5rem;
}

.Orders span {
  transition: color 0.3s ease;
}

.Orders a:hover span {
  color: whitesmoke;
}

@media (max-width: 1024px) {
  .HeaderWrapper {
    flex-direction: column;
    gap: 15px;
  }

  .HeaderNav {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .Header {
    gap: 10px;
  }

  .HeaderNav {
    flex-direction: column;
  }

  .MainContent {
    padding: 10px;
  }

  .OrdersList {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .Orders {
    width: 80%;
    margin: 10px auto;
  }
}

@media (max-width: 480px) {
  .HeaderLogo img {
    width: 60px;
  }

  .HeaderNav a {
    font-size: 1rem;
  }

  .MainContent h1 {
    font-size: 1.5rem;
  }

  .Orders a {
    font-size: 1.2rem;
  }
}

