body {
  background-color: #fafafa;
}

.RetiradaHeader {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cf8c95;
  color: whitesmoke;
  box-shadow: -1px 10px 29px -21px rgba(0, 0, 0, 0.75);
  font-size: 1.6rem;
  color: whitesmoke;
  font-weight: bold;

  .Text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    h1 {
      margin-right: 5%;
    }
  }

  @media (max-width: 575px) {
    width: 100%;
    height: 15vh;
  }
}

.Main {
  display: flex;
  flex-wrap: wrap; /* Quebra os produtos em múltiplas linhas, se necessário */
  justify-content: space-around; /* Espaçamento entre os produtos */
  padding: 20px;
  gap: 20px; /* Aumentado para um espaçamento melhor */
}

/* Estilo para cada produto */
.AllProducts {
  display: flex;
  flex-direction: column; /* Organiza o conteúdo verticalmente */
  align-items: center; /* Centraliza os itens (logo, nome) */
  justify-content: flex-start; /* Alinha os itens ao topo */
  width: 100%; /* Cada produto ocupará 100% da largura em telas menores */
  max-width: 600px; /* Limita a largura máxima */
  height: auto; /* Altura automática para melhor adaptação */
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.AllProducts:hover {
  transform: scale(1.02); /* Efeito de zoom ao passar o mouse */
}

.ProductLogo {
  width: 100%; /* Garantindo que a imagem ocupe a largura total */
  height: 200px; /* Altura fixa para o espaço reservado */
  overflow: hidden; /* Evita que imagens estouram */
  display: flex; /* Para centralizar a imagem */
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
  background-color: #eaeaea; /* Cor de fundo enquanto a imagem não carrega */
}

.ProductLogo img {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Cobre a área disponível, recortando se necessário */
}

.CategoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

/* Nome do produto */
.ProductName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 8px;
  text-align: center;
}

.ProductName h1 {
  color: #cf8c95;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .AllProducts {
    width: 100%; /* Cada produto ocupará 100% da largura da tela em dispositivos menores */
    height: auto; /* Altura automática para melhor adaptação */
  }
}
