/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
